In [3]:
## solution 1
import pandas as pd 
data = [ 4 , 8 , 15 , 16 , 23 , 42]

series = pd.Series(data)
print(series)

0     4
1     8
2    15
3    16
4    23
5    42
dtype: int64

In [4]:
# solution 2 
data = [1,2,3,4,5,6,7,8,9,0]
series =pd.Series(data)
print(series)

0    1
1    2
2    3
3    4
4    5
5    6
6    7
7    8
8    9
9    0
dtype: int64

In [6]:
## solution 3 
data = {
    "name" : ["Alice" , "Bob" , "Clarie"] ,
    "Age" : [25,30,27] ,
    "Gender" : ["Female" , "Male" , "Female"] 
} 

df = pd.DataFrame(data) 

print(df)

     name  Age  Gender
0   Alice   25  Female
1     Bob   30    Male
2  Clarie   27  Female

In [7]:
## solution 4 
# A DataFrame in pandas is a 2-dimensional labeled data structure, similar to a table in a database or an Excel spreadsheet. 
# It can hold multiple columns, each of which can be a different data type (integer, float, string, etc.).

# A Series in pandas is a 1-dimensional labeled array that can hold any data type. It is essentially a single column of data.

In [8]:
## solution 5 
# Some common functions to manipulate data in a Pandas DataFrame include:

# head(): View the first few rows of the DataFrame.
# tail(): View the last few rows of the DataFrame.
# describe(): Get summary statistics of numerical columns.
# drop(): Remove columns or rows.
# groupby(): Group the data by one or more columns.
# apply(): Apply a function along an axis of the DataFrame.
# merge(): Merge two DataFrames.

# fillna(): Fill missing values.

In [9]:
## solution 6 
# Both Series and DataFrame are mutable in nature in pandas, 
# meaning you can modify their content after they have been created.