# solution 1 
+ the following functions are used in pandas 
+ head - return the first five rows
+ tail - gives the last five rows 
+ describe - gives detail about the data set 
+ group_by - groups the datasets by mapper function or through series of columns 
+ merge - merge the datasets or named series

In [1]:
import pandas as pd

In [2]:
data={'A':[1,2,3,4] , 'B':[5,6,7,8]} 
df = pd.DataFrame(data)

In [3]:
print(df)

   A  B
0  1  5
1  2  6
2  3  7
3  4  8

In [4]:
df.head()

   A  B
0  1  5
1  2  6
2  3  7
3  4  8

In [5]:
df.tail()

   A  B
0  1  5
1  2  6
2  3  7
3  4  8

In [6]:
df.describe()

              A         B
count  4.000000  4.000000
mean   2.500000  6.500000
std    1.290994  1.290994
min    1.000000  5.000000
25%    1.750000  5.750000
50%    2.500000  6.500000
75%    3.250000  7.250000
max    4.000000  8.000000

In [8]:
grouped = df.groupby('A').sum()
print(grouped)

   B
A
1  5
2  6
3  7
4  8

In [9]:
data2 = {'A': [1, 2, 3, 4, 5], 'C': [100, 200, 300, 400, 500]}
df2 = pd.DataFrame(data2)

# Merge the two DataFrames
merged_df = pd.merge(df, df2, on='A')
print(merged_df)

   A  B    C
0  1  5  100
1  2  6  200
2  3  7  300
3  4  8  400

# solution 2

In [11]:
def reindex_dataframe(df):
    # Create a new index that starts from 1 and increments by 2
    new_index = range(1, 2*len(df)+1, 2)
    # Reindex the DataFrame
    df_reindexed = df.copy()
    df_reindexed.index = new_index
    return df_reindexed

# Create a sample DataFrame
data = {'A': [1, 2, 3], 'B': [4, 5, 6], 'C': [7, 8, 9]}
df = pd.DataFrame(data)

# Reindex the DataFrame
df_reindexed = reindex_dataframe(df)
print(df_reindexed)

   A  B  C
1  1  4  7
3  2  5  8
5  3  6  9

# solution 3

In [14]:
def sum_first_three(df):
    sum_values = df['Values'].iloc[:3].sum();
    print(f"the sum of the first three values is : {sum_values}")
    
data = {'Values' : [1,2,3,4,5,6]}
df=pd.DataFrame(data)

sum_first_three(df)

the sum of the first three values is : 6

# solution 4

In [15]:
def add_word_cnt(df):
    df["Word_cnt"] = df["text"].apply(lambda x: len(str(x).split()))
    return df

data = {"text" : ["hello world" , "have a nice day " , "learning data science"]}
df=pd.DataFrame(data)

df_with_word_cnt = add_word_cnt(df)
print(df_with_word_cnt)

                    text  Word_cnt
0            hello world         2
1       have a nice day          4
2  learning data science         3

# solution 5 
+ DataFrame.size: Returns the number of elements in the DataFrame, which is the total number of cells. It is equivalent to the number of rows multiplied by the number of columns.
+ DataFrame.shape: Returns a tuple representing the dimensionality of the DataFrame. The first element is the number of rows, and the second element is the number of columns.

# solution 6 
+ the pandas function used to read the excel file is the pd.read_excel("file_name")

In [16]:
## solution 7 
def extract_username(df):
    df["username"] = df["email"].apply(lambda x : x.split('@')[0])
    return df 

data = {"email" : ["keerat@gmail.com" , "naman@gmail.com"]}
df = pd.DataFrame(data)

df = extract_username(df)
print(df)

              email username
0  keerat@gmail.com   keerat
1   naman@gmail.com    naman

In [17]:
## solution 8 
def sel_rows(df):
    selected_df = df[(df['A'] > 5 ) & (df['B']<10)]
    return selected_df

data = {
    'A': [3, 8, 6, 2, 9],
    'B': [5, 2, 9, 3, 1],
    'C': [1, 7, 4, 5, 2]
}
df =pd.DataFrame(data)
df = sel_rows(df)
print(df)

   A  B  C
1  8  2  7
2  6  9  4
4  9  1  2

In [18]:
## solution 9 
data = {'values' : [10,20,30,40,50]}
df = pd.DataFrame(data)
df.describe()

          values
count   5.000000
mean   30.000000
std    15.811388
min    10.000000
25%    20.000000
50%    30.000000
75%    40.000000
max    50.000000

In [19]:
## solution 10 
def moving_avg(df):
    df['Date'] = pd.to_datetime(df['Date'])
    
    df = df.sort_values('Date')
    
    df['Moving_Average'] = df['Sales'].rolling(window =7  , min_periods=1).mean()
    return df 
    
    
data = {
    'Date': pd.date_range(start='2023-01-01', periods=10, freq='D'),
    'Sales': [100, 200, 150, 300, 250, 400, 350, 500, 450, 600]
}
df = pd.DataFrame(data)

df = moving_avg(df)
print(df)

        Date  Sales  Moving_Average
0 2023-01-01    100      100.000000
1 2023-01-02    200      150.000000
2 2023-01-03    150      150.000000
3 2023-01-04    300      187.500000
4 2023-01-05    250      200.000000
5 2023-01-06    400      233.333333
6 2023-01-07    350      250.000000
7 2023-01-08    500      307.142857
8 2023-01-09    450      342.857143
9 2023-01-10    600      407.142857

In [20]:
## solution 11 
def add_weekday_column(df):
    # Ensure the 'Date' column is in datetime format
    df['Date'] = pd.to_datetime(df['Date'])
    
    # Create a new column 'Weekday' with the weekday name
    df['Weekday'] = df['Date'].dt.day_name()
    return df

# Sample DataFrame
data = {
    'Date': ['2023-01-01', '2023-01-02', '2023-01-03', '2023-01-04', '2023-01-05']
}
df = pd.DataFrame(data)

# Add the 'Weekday' column
df = add_weekday_column(df)
print(df)

        Date    Weekday
0 2023-01-01     Sunday
1 2023-01-02     Monday
2 2023-01-03    Tuesday
3 2023-01-04  Wednesday
4 2023-01-05   Thursday

In [21]:
## solution 12
def select_rows_between_dates(df):
    # Ensure the 'Date' column is in datetime format
    df['Date'] = pd.to_datetime(df['Date'])
    
    # Define the date range
    start_date = '2023-01-01'
    end_date = '2023-01-31'
    
    # Select rows where the date is between '2023-01-01' and '2023-01-31'
    filtered_df = df[(df['Date'] >= start_date) & (df['Date'] <= end_date)]
    return filtered_df

# Sample DataFrame
data = {
    'Date': pd.date_range(start='2022-12-25', periods=15, freq='D'),
    'Value': range(15)
}
df = pd.DataFrame(data)

# Select rows between the specified dates
filtered_df = select_rows_between_dates(df)
print(filtered_df)

         Date  Value
7  2023-01-01      7
8  2023-01-02      8
9  2023-01-03      9
10 2023-01-04     10
11 2023-01-05     11
12 2023-01-06     12
13 2023-01-07     13
14 2023-01-08     14

In [22]:
## solution13 
# The first and foremost necessary library that needs to be imported to use the basic functions of pandas is pandas.