In [1]:
## solution 1

In [2]:
import pandas as pd

course_name = ['Data Science', 'Machine Learning', 'Big Data', 'Data Engineer']
duration = [2, 3, 6, 4]
df = pd.DataFrame(data = {'course_name': course_name, 'duration': duration})

In [3]:
df

        course_name  duration
0      Data Science         2
1  Machine Learning         3
2          Big Data         6
3     Data Engineer         4

In [5]:
print(df.iloc[1])

course_name    Machine Learning
duration                      3
Name: 1, dtype: object

## solution 2 
+ loc is label-based, which means that you have to specify rows and columns based on their labels.
+ iloc is integer index-based, so you have to specify rows and columns by their integer index.
# solution 3

In [7]:
new_df = df.reindex([3,0,1,2])

In [8]:
new_df

        course_name  duration
3     Data Engineer         4
0      Data Science         2
1  Machine Learning         3
2          Big Data         6

# solution 4

In [12]:
# Assuming df1 is defined as follows:
import numpy as np 
columns = ['column_1', 'column_2', 'column_3', 'column_4', 'column_5', 'column_6']
indices = [1, 2, 3, 4, 5, 6]
df1 = pd.DataFrame(np.random.rand(6, 6), columns=columns, index=indices)

# (i) Mean of each column
mean_values = df1.mean()
print(mean_values)

# (ii) Standard deviation of column_2
std_column_2 = df1['column_2'].std()
print(std_column_2)

column_1    0.278902
column_2    0.455767
column_3    0.454694
column_4    0.627361
column_5    0.615787
column_6    0.507364
dtype: float64
0.3351774516978609

# solution 5

In [13]:
df1.loc[2,'column_2']='string_data'

In [14]:
df1

   column_1     column_2  column_3  column_4  column_5  column_6
1  0.544135     0.543178  0.539533  0.426895  0.964493  0.942146
2  0.414085  string_data  0.305423  0.530670  0.641753  0.303544
3  0.250730     0.803486  0.832925  0.710241  0.446286  0.309601
4  0.049162     0.517125  0.003521  0.841485  0.432960  0.376004
5  0.130552     0.770846  0.206276  0.593342  0.749133  0.506598
6  0.284748     0.070094  0.840487  0.661532  0.460096  0.606293

In [15]:
try :
    df1['coumn_2'].mean()
except :
    print("not possible because all values should be numeric")

not possible because all values should be numeric

# solution 6
+ Windows functions in pandas allow you to perform calculations across a sliding window of data. Types of window functions include:

+ rolling(): Provides rolling window calculations.
+ expanding(): Provides expanding window calculations.
+ ewm(): Provides exponentially weighted window calculations.

# solution 7

In [28]:

df_date = pd.DataFrame({"date" : ['2024-21-07']})

In [30]:
df_date.dtypes

date    object
dtype: object

In [33]:
new_df = pd.DataFrame({"date":["2024-07-21"]})

In [34]:
new_df['update_date'] = pd.to_datetime(new_df['date'])

In [35]:
new_df

         date update_date
0  2024-07-21  2024-07-21

In [36]:
month = new_df['update_date'].dt.month

In [37]:
month

0    7
Name: update_date, dtype: int64

# solution 8

In [38]:
import pandas as pd

# Take input from the user
date1 = input("Enter the first date (YYYY-MM-DD): ")
date2 = input("Enter the second date (YYYY-MM-DD): ")

# Convert the input to datetime
date1 = pd.to_datetime(date1)
date2 = pd.to_datetime(date2)

# Calculate the difference
delta = date2 - date1

days = delta.days
hours = delta.seconds // 3600
minutes = (delta.seconds // 60) % 60

print(f"Difference: {days} days, {hours} hours, and {minutes} minutes")

Enter the first date (YYYY-MM-DD):  2024-02-21
Enter the second date (YYYY-MM-DD):  2024-07-21

Difference: 151 days, 0 hours, and 0 minutes

# solution 9

In [39]:
#     import pandas as pd
    
#     # Prompt the user to enter the file path, column name, and category order
#     file_path = input("Enter the file path of the CSV file: ")
#     column_name = input("Enter the column name to convert to categorical: ")
#     category_order = input("Enter the category order (comma-separated): ").split(',')
    
#     # Read the CSV file
#     df = pd.read_csv(file_path)
    
#     # Convert the specified column to categorical data type
#     df[column_name] = pd.Categorical(df[column_name], categories=category_order, ordered=True)
    
#     # Display the sorted data
#     sorted_df = df.sort_values(by=column_name)
#     print(sorted_df)

# solution 10

In [41]:

# import pandas as pd
# import matplotlib.pyplot as plt

# # Prompt the user to enter the file path
# file_path = input("Enter the file path of the CSV file: ")

# # Read the CSV file
# df = pd.read_csv(file_path)

# # Assuming the CSV has columns: 'Date', 'Product', and 'Sales'
# df['Date'] = pd.to_datetime(df['Date'])
# df.set_index('Date', inplace=True)

# # Pivot the data to get product categories as columns
# df_pivot = df.pivot_table(values='Sales', index=df.index, columns='Product', aggfunc='sum')

# # Plot the stacked bar chart
# df_pivot.plot(kind='bar', stacked=True)
# plt.xlabel('Date')
# plt.ylabel('Sales')
# plt.title('Sales of each product category over time')
# plt.show()

# solution 11

In [42]:
#    import pandas as pd
#    from scipy import stats
   
#    # Prompt the user to enter the file path
#    file_path = input("Enter the file path of the CSV file containing the student data: ")
   
#    # Read the CSV file into a Pandas DataFrame
#    df = pd.read_csv(file_path)
   
#    # Calculate the mean, median, and mode of the test scores
#    mean_score = df['Test Score'].mean()
#    median_score = df['Test Score'].median()
#    mode_score = df['Test Score'].mode().tolist()
   
#    # Display the results in a table
#    print(f"+-----------+--------+")
#    print(f"| Statistic | Value  |")
#    print(f"+-----------+--------+")
#    print(f"| Mean      | {mean_score:.2f}   |")
#    print(f"| Median    | {median_score}   |")
#    print(f"| Mode      | {', '.join(map(str, mode_score))} |")
#    print(f"+-----------+--------+")