# solution 1 
+ Database is a place where the data is stored , for easy storage , retrieval and manipulations 
+ sql and no-sql databases are differentiated based on their property whether they are relational or not 
+ sql has a relational schema while the no-sql is not 

# solution 2 
+ DDL (Data Definition Language) is a subset of SQL (Structured Query Language) used to define and manage database schema and structure. DDL statements are used to create, modify, and delete database objects such as tables, indexes, and views. 
+ CREATE TABLE employees (
    id INT PRIMARY KEY,
    name VARCHAR(100),
    position VARCHAR(50),
    salary DECIMAL(10, 2),
    hire_date DATE
   );
   
+ DROP TABLE employees;
+ ALTER TABLE employees ADD COLUMN department VARCHAR(50);
+ TRUNCATE TABLE employees;

# solution 3 
+ DML (Data Manipulation Language) is used for managing data within schema objects.
+ ex of insert , update and delete

In [2]:

# INSERT INTO employees (id, name, position, salary, hire_date)
#   VALUES (1, 'John Doe', 'Manager', 75000, '2023-01-15');
# UPDATE employees
#   SET salary = 80000
#   WHERE id = 1;
# DELETE FROM employees
#   WHERE id = 1;

# solution 4 
+ DQL (Data Query Language) is used to query the database and retrieve data from it.
+ SELECT: Retrieves data from one or more tables

In [3]:
# SELECT name, position, salary
# FROM employees
# WHERE salary > 50000;

# solution 5 
+ primary Key: A primary key is a field in a table that uniquely identifies each row/record in that table. Primary keys must contain unique values and cannot contain NULL values.
+ Foreign Key: A foreign key is a field (or collection of fields) in one table that uniquely identifies a row of another table. The foreign key establishes a link between the data in the two tables.

# solution 6 
+ cursor(): The cursor() method creates a cursor object which is used to execute SQL commands and fetch data from the database.
+ execute(): The execute() method is used to execute a SQL query.
+ code to connect MySQL to python.

In [4]:
# import mysql.connector
# mydb = mysql.connector.connect(
#   host="localhost",
#   user="abc",
#   password="password"
# )
# mycursor = mydb.cursor()
# mycursor.execute("CREATE DATABASE if not exists test1")
# mycursor.execute("CREATE TABLE if not exists test1.test_table (c1 INT , c2 VARCHAR(50) ,c3 INT ,c4 FLOAT , c5 VARCHAR(40))")
# mydb.close()

# solution 7
+ The order of execution of SQL clauses in a query is:

1) FROM
2) WHERE
3) GROUP BY
4) HAVING
5) SELECT
6) ORDER BY
7) LIMIT