# solution-1

1) The tuple is a ordered and immutable set of items in python . 
   it is generally used to store data like a list 
   but unlike a list is is immutable , i.e we cannot add any element at a particular index

# solution-2

The two tuple methods in python are 
1) count 
2) index

the count gives us the no. of times a particular element has occured
the index returns the index where the element has occured for the first time .

eg: a=(1,2,2,3,4,5,1,1) 
    here the a.count(1) will give 3 
    a.index(1) will return 0 
    
the reason that there are only limited methods in tuples is because of its immutable nature

In [2]:
a=(1,2,2,3,4,5,1,1)

In [3]:
a.count(1)

3

In [4]:
 a.index(1)

0

# solution-3

sets datatype in python doesnot allow the duplicate elements in it

In [6]:
List = [1, 1, 1, 2, 1, 3, 1, 4, 2, 1, 2, 2, 2, 3, 2, 4, 3, 1, 3, 2, 3, 3, 3, 4, 4, 1, 4, 2, 4, 3, 4, 4]

we need to convert it into the set and remove the dupicate elements

In [7]:
s = set(List)

In [8]:
s

{1, 2, 3, 4}

# solution-4

In [9]:
s1={1,2,3,4,5}
s2={1,2,6,7,8}

In [11]:
s1.union(s2)

{1, 2, 3, 4, 5, 6, 7, 8}

In [12]:
s1

{1, 2, 3, 4, 5}

In [13]:
s1.update(s2)

In [14]:
s1

{1, 2, 3, 4, 5, 6, 7, 8}

here we can observe that the union function is not adding the newer elements to the original set whereas the update method updates the original set


# solution-5

a dictionary in python is used to store the key value pairs , where each key corresponds to a value it is an unordered collection of items

dictionary is unordered and mutable

In [15]:
dict={"name" : "keerat" , "age" : 22 }

In [16]:
dict

{'name': 'keerat', 'age': 22}


# solution-6

yes creating a nested dictionary is possible

but we need to make sure that only the value can be a dictionay (from the key:value pair)

In [17]:
a={ "key" : {"name":"keerat" , "age":22}}

In [18]:
a

{'key': {'name': 'keerat', 'age': 22}}


# solution-7

In [19]:
dict1 = {'language' : 'Python', 'course': 'Data Science Masters'} ##initial dictionary

In [20]:
dict1.setdefault('topics', ['Python', 'Machine Learning', 'Deep Learning'])

['Python', 'Machine Learning', 'Deep Learning']

In [21]:
dict1

{'language': 'Python',
 'course': 'Data Science Masters',
 'topics': ['Python', 'Machine Learning', 'Deep Learning']}



# solution-8

the three views available in the dictionary are the

1) key views
2) value views
3) item views

1) key displays the keys ,
2) values displays all the values
3) and items displays all the key:value pairs

In [22]:
dict1 = {'Sport': 'Cricket' , 'Teams': ['India', 'Australia', 'England', 'South Africa', 'Sri Lanka', 'New Zealand']}

In [23]:
dict1.keys()

dict_keys(['Sport', 'Teams'])

In [24]:
dict1.values()

dict_values(['Cricket', ['India', 'Australia', 'England', 'South Africa', 'Sri Lanka', 'New Zealand']])

In [25]:
dict1.items()

dict_items([('Sport', 'Cricket'), ('Teams', ['India', 'Australia', 'England', 'South Africa', 'Sri Lanka', 'New Zealand'])])